antigen/
config/

mutt/cache/
vim/bundle/
vim/_view/
vim/_backup/
vim/_temp/
vim/_undo/
netrc
oh-my-zsh/
haskellmode.config
vim/note_tag_index
*fonts.dir*
*fonts.scale*
emacs.d/elpa
emacs.d/auto-save-list
emacs.d/.mc-lists.el
emacs.d/.cask
ac-comphist.dat
